<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common/imports :: headImports}">
</head>
<body>
<div th:replace="common/layout :: layout(~{::section})">
    <section>
        <script src="/imports/chart.min.js"></script>
        <div class="row">
            <div class="col">
                <div class="card text-bg-light p-3">
                    <div class="fw-semibold">Asistencias Hoy</div>
                    <h2 th:text="${asistenciasHoy}">0</h2>
                </div>
            </div>
            <div class="col">
                <div class="card text-bg-light p-3">
                    <div class="fw-semibold">Tardanzas Hoy</div>
                    <h2 th:text="${tardanzasHoy}">0</h2>
                </div>
            </div>
            <div class="col">
                <div class="card text-bg-light p-3">
                    <div class="fw-semibold">Producción Hoy</div>
                    <h2 th:text="'S/ ' + ${produccionHoy}">S/0.00</h2>
                </div>
            </div>
            <div class="col">
                <div class="card text-bg-light p-3">
                    <div class="fw-semibold">Total Pagado Semana</div>
                    <h2 th:text="'S/ ' + ${totalPagado}">S/0.00</h2>
                </div>
            </div>
        </div>

        <div class="mt-5 d-flex justify-content-center">
            <div style="max-width: 900px; width: 100%;">
                <canvas id="graficoProduccion" height="400"></canvas>
            </div>
        </div>

        <script th:inline="javascript">
            const ctx = document.getElementById('graficoProduccion');

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [[${diasProduccion}]],
                    datasets: [{
                        label: 'Producción semanal',
                        data: [[${montosProduccion}]],
                        backgroundColor: 'rgba(54, 162, 235, 0.6)',
                        borderRadius: 4
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                callback: value => 'S/ ' + value
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            display: false
                        }
                    }
                }
            });
        </script>


    </section>


</div>
</body>
</html>
