<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{common/imports :: headImports}">
</head>
<body>
<div th:replace="common/layout :: layout(~{::section})">
    <section>

        <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="d-flex align-items-center" style="gap: 0.5rem;">
                <h4><i class="bi bi-cash-coin me-2"></i>Pagos</h4>
                <input type="text" class="form-control form-control-sm" style="width: 200px;" placeholder="Buscar operario" sec:authorize="hasAuthority('Administrador')">
            </div>
        </div>

        <table class="table table-bordered table-sm align-middle">
            <thead class="table-light">
            <tr>
                <th>Fecha</th>
                <th>Operario</th>
                <th>Lote</th>
                <th>Prenda</th>
                <th>Resumen de operaciones</th>
                <th>Descuentos</th>
                <th>Total a pagar</th>
                <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div>11-05-2025</div>
                </td>
                <td>Alexander Saldaña</td>
                <td>
                    <div>LOTE-11052025-0001</div>
                </td>
                <td>
                    <div>Polo básico</div>

                </td>
                <td>
                    <div>Pegado de cuello <span class="float-end">S/50</span></div>
                    <div>Cerrado de costado <span class="float-end">S/25</span></div>
                    <div class="fw-semibold border-top pt-1 mt-1">Subtotal <span class="float-end">S/75</span></div>
                </td>
                <td>
                    <div>Tardanza <span class="float-end">S/10</span></div>
                    <div>Costura <span class="float-end">S/15</span></div>
                    <div class="fw-semibold border-top pt-1 mt-1">Subtotal <span class="float-end">S/25</span></div>
                </td>
                <td><strong>S/25</strong></td>
                <td>
                    <span class="badge bg-warning text-dark">Pendiente</span>
                    <i class="bi bi-check-circle text-success ms-2" sec:authorize="hasAuthority('Administrador')"></i>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-end small text-muted">
            <div>1-10 de 30</div>
            <div class="ms-3">
                <i class="bi bi-chevron-left"></i>
                <i class="bi bi-chevron-right"></i>
            </div>
        </div>


    </section>
</div>
</body>
</html>
