<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{common/imports :: headImports}">
</head>
<body>
<div th:replace="common/layout :: layout(~{::section})">
    <section>

        <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="d-flex align-items-center" style="gap: 0.5rem;">
                <h4><i class="bi bi-cash-coin me-2"></i>Pagos</h4>
                <input type="text" class="form-control form-control-sm" style="width: 200px;" placeholder="Buscar operario" sec:authorize="hasAuthority('Administrador')">
            </div>
        </div>

        <table class="table table-bordered table-sm align-middle">
            <thead class="table-light">
            <tr>
                <th>Operario</th>
                <th>Administrador</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Subtotal</th>
                <th>Descuento</th>
                <th>Total Pagado</th>
                <th>Fecha Registro</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pago : ${historialPagos}">
                <td th:text="${pago.usuarioTrabajador.nombre}">Operario</td>
                <td th:text="${pago.usuarioAdmin.nombre}">Admin</td>
                <td th:text="${pago.fechaInicio}">Inicio</td>
                <td th:text="${pago.fechaFin}">Fin</td>
                <td th:text="'S/ ' + ${pago.subtotalPago}">S/0.00</td>
                <td th:text="'S/ ' + ${pago.subtotalDescuento}">S/0.00</td>
                <td th:text="'S/ ' + ${pago.totalAPagar}">S/0.00</td>
                <td th:text="${#temporals.format(pago.fecha, 'dd-MM-yyyy HH:mm')}">Fecha</td>
            </tr>
            </tbody>
        </table>


        <div class="d-flex justify-content-end small text-muted">
            <div>1-10 de 30</div>
            <div class="ms-3">
                <i class="bi bi-chevron-left"></i>
                <i class="bi bi-chevron-right"></i>
            </div>
        </div>


    </section>
</div>
</body>
</html>
