<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common/imports :: headImports}">
</head>
<body>
<div th:replace="common/layout :: layout(~{::section})">
    <section>


        <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="d-flex align-items-center" style="gap: 0.5rem;">
                <h4><i class="bi bi-person-check-fill me-2"></i>Usuarios Activos</h4>
                <input type="text" id="busquedaUsuario" class="form-control form-control-sm" style="width: 200px;" placeholder="Buscar...">
            </div>
            <button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalNuevoUsuario">
                <i class="bi bi-plus"></i>
            </button>
        </div>

        <table class="table table-striped table-bordered align-middle table-sm">
            <thead class="table-light">
            <tr>
                <th>Usuario</th>
                <th>Rol</th>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Celular</th>
                <th>Correo</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody class="tabla-usuarios-activos">
            <tr th:each="usuario : ${ListaUsuariosActivos}">
                <td th:text="${usuario.username}">usuario</td>
                <td th:text="${usuario.rolUsuario.nombre}">Rol</td>
                <td th:text="${usuario.nombre}">Nombre</td>
                <td th:text="${usuario.dni}">DNI</td>
                <td th:text="${usuario.numCelular}">Celular</td>
                <td th:text="${usuario.correo}">Correo</td>
                <td><span class="badge bg-success">Activo</span></td>
                <td>
                    <button class="btn btn-outline-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#modalEditarUsuario"
                            th:data-id="${usuario.id}"
                            th:data-username="${usuario.username}"
                            th:data-nombre="${usuario.nombre}"
                            th:data-dni="${usuario.dni}"
                            th:data-numcelular="${usuario.numCelular}"
                            th:data-correo="${usuario.correo}"
                            th:data-rol="${usuario.rolUsuario.id}">
                        <i class="bi bi-pencil"></i>
                    </button>

                    <a class="btn btn-outline-danger"
                       th:href="@{'/app/usuarios/desactivar/' + ${usuario.id}}"
                       onclick="return confirmAction(this.href, '¿Estás seguro de desactivar este usuario? No podrá iniciar sesión hasta volver a estar activo.');">
                        <i class="bi bi-x-circle"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>


        <h4><i class="bi bi-person-x-fill me-2"></i>Usuarios Desactivados</h4>
        <table class="table table-striped table-bordered align-middle table-sm">
            <thead class="table-light">
            <tr>
                <th>Usuario</th>
                <th>Rol</th>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Celular</th>
                <th>Correo</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody class="tabla-usuarios-desactivados">
            <tr th:each="usuario : ${ListaUsuariosDesactivados}">
                <td th:text="${usuario.username}">usuario</td>
                <td th:text="${usuario.rolUsuario.nombre}">Rol</td>
                <td th:text="${usuario.nombre}">Nombre</td>
                <td th:text="${usuario.dni}">DNI</td>
                <td th:text="${usuario.numCelular}">Celular</td>
                <td th:text="${usuario.correo}">Correo</td>
                <td><span class="badge bg-secondary">Desactivado</span></td>
                <td>

                    <button class="btn btn-outline-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#modalEditarUsuario"
                            th:data-id="${usuario.id}"
                            th:data-username="${usuario.username}"
                            th:data-nombre="${usuario.nombre}"
                            th:data-dni="${usuario.dni}"
                            th:data-numcelular="${usuario.numCelular}"
                            th:data-correo="${usuario.correo}"
                            th:data-rol="${usuario.rolUsuario.id}">
                        <i class="bi bi-pencil"></i>
                    </button>


                    <a  class="btn btn-outline-success"
                       th:href="@{'/app/usuarios/activar/' + ${usuario.id}}"
                       onclick="return confirmAction(this.href, '¿Estás seguro de activar este usuario?');">
                        <i class="bi bi-check-circle"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- Modal con campo de rol -->
        <div class="modal fade" id="modalNuevoUsuario" tabindex="-1" aria-labelledby="modalNuevoUsuarioLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="/app/usuarios/nuevo" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalNuevoUsuarioLabel">Nuevo Usuario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña</label>
                                <input type="text" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" required>
                            </div>
                            <div class="mb-3">
                                <label for="dni" class="form-label">DNI</label>
                                <input type="text" class="form-control" id="dni" name="dni" required>
                            </div>
                            <div class="mb-3">
                                <label for="numCelular" class="form-label">Celular</label>
                                <input type="text" class="form-control" id="numCelular" name="numCelular">
                            </div>
                            <div class="mb-3">
                                <label for="correo" class="form-label">Correo</label>
                                <input type="email" class="form-control" id="correo" name="correo">
                            </div>
                            <div class="mb-3">
                                <label for="rolUsuario" class="form-label">Rol</label>
                                <select class="form-select" id="rolUsuario" name="rolUsuario" required>
                                    <option value="" disabled selected>Seleccione un rol</option>
                                    <th:block th:each="rol : ${ListaRoles}">
                                        <option th:value="${rol.id}" th:text="${rol.nombre}"></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>




        <!-- Modal de edición de usuario -->
        <div class="modal fade" id="modalEditarUsuario" tabindex="-1" aria-labelledby="modalEditarUsuarioLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="/app/usuarios/editar" method="post">
                        <input type="text" class="form-control" id="editUserid" name="id" required hidden>
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalEditarUsuarioLabel">Editar Usuario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="editUsername" class="form-label">Username</label>
                                <input type="text" class="form-control" id="editUsername" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="editPassword" class="form-label">Nueva Contraseña</label>
                                <input type="text" class="form-control" id="editPassword" name="password" placeholder="Editar para cambiar contraseña.">
                            </div>
                            <div class="mb-3">
                                <label for="editNombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="editNombre" name="nombre" required>
                            </div>
                            <div class="mb-3">
                                <label for="editDni" class="form-label">DNI</label>
                                <input type="text" class="form-control" id="editDni" name="dni" required>
                            </div>
                            <div class="mb-3">
                                <label for="editNumCelular" class="form-label">Celular</label>
                                <input type="text" class="form-control" id="editNumCelular" name="numCelular">
                            </div>
                            <div class="mb-3">
                                <label for="editCorreo" class="form-label">Correo</label>
                                <input type="email" class="form-control" id="editCorreo" name="correo">
                            </div>
                            <div class="mb-3">
                                <label for="editRolUsuario" class="form-label">Rol</label>
                                <select class="form-select" id="editRolUsuario" name="rolUsuario" required>
                                    <option value="" disabled selected>Seleccione un rol</option>
                                    <th:block th:each="rol : ${ListaRoles}">
                                        <option th:value="${rol.id}" th:text="${rol.nombre}"></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const modal = document.getElementById('modalEditarUsuario');

                const buttons = document.querySelectorAll('[data-bs-toggle="modal"]');

                // Asignar el evento a cada botón
                buttons.forEach(button => {
                    button.addEventListener('click', function(event) {
                        const userId = event.currentTarget.getAttribute('data-id');
                        const username = event.currentTarget.getAttribute('data-username');
                        const nombre = event.currentTarget.getAttribute('data-nombre');
                        const dni = event.currentTarget.getAttribute('data-dni');
                        const numCelular = event.currentTarget.getAttribute('data-numcelular');
                        const correo = event.currentTarget.getAttribute('data-correo');
                        const rolId = event.currentTarget.getAttribute('data-rol');

                        modal.querySelector('#editUserid').value = userId;
                        modal.querySelector('#editUsername').value = username;
                        modal.querySelector('#editNombre').value = nombre;
                        modal.querySelector('#editDni').value = dni;
                        modal.querySelector('#editNumCelular').value = numCelular;
                        modal.querySelector('#editCorreo').value = correo;
                        modal.querySelector('#editRolUsuario').value = rolId;
                    });
                });
            });
        </script>

        <script>
            document.getElementById('busquedaUsuario').addEventListener('input', function () {
                const filtro = this.value.toLowerCase();
                const tablas = document.querySelectorAll('tbody');

                tablas.forEach(tbody => {
                    const filas = tbody.querySelectorAll('tr');
                    filas.forEach(fila => {
                        const textoFila = fila.innerText.toLowerCase();
                        fila.style.display = textoFila.includes(filtro) ? '' : 'none';
                    });
                });
            });
        </script>


        <script>
            const urlParams = new URLSearchParams(window.location.search);
            const success = urlParams.has('success');
            const error = urlParams.get('error');

            if (success) {
                Swal.fire({
                    icon: 'success',
                    title: 'Realizado con Exito',
                    confirmButtonText: 'OK'
                });
            } else if (error) {
                let errorMessage = '';
                if (error === 'duplicated') {
                    errorMessage = 'El usuario ya existe. Intente con otro nombre de usuario.';
                } else if (error === 'general') {
                    errorMessage = 'Ocurrió un error al crear el usuario.';
                }

                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: errorMessage,
                    confirmButtonText: 'Aceptar'
                });
            }
        </script>
    </section>

</div>
</body>
</html>
